* {
	margin: 0;
	padding: 0;
}
html,
body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
body {
	font-size: 12px;
	background-image: linear-gradient(135deg, #fff886 10%, #f072b6 100%);
}

#mainDiv {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}
#content {
	padding-top: 20px;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

#loveHeart {
	float: left;
	width: 670px;
	height: 700px;
	position: relative;
}

#garden {
	width: 100%;
	height: 100%;
}

#elapseClock {
	text-align: right;
	font-size: 18px;
	margin-top: 10px;
}

#words {
	font-family: 'sans-serif';
	width: 500px;
	font-size: 24px;

	color: #666;
}

#messages {
	display: none;
}

#elapseClock .digit {
	font-family: 'digit';
	font-size: 36px;
}

#loveu {
	padding: 5px;
	font-size: 22px;
	margin-top: 80px;
	margin-right: 100px;
	text-align: right;
}

#loveu .signature {
	margin-top: 10px;
	font-size: 20px;
}

#clickSound {
	display: none;
}

#code {
	float: left;
	width: 810px;
	height: 100%;
	overflow: auto;
	color: #333;

	font-family: 'Consolas', 'Monaco', 'Bitstream Vera Sans Mono', 'Courier New', 'sans-serif';
	font-size: 12px;
}

#code .string {
	color: #2a36ff;
}

#code .keyword {
	color: #7f0055;
	font-weight: bold;
}

#code .placeholder {
	margin-left: 15px;
}

#code .space {
	margin-left: 7px;
}

#code .comments {
	color: #000000;
	user-select: none;
}

#copyright {
	margin-top: 20px;
	text-align: center;
	width: 100%;

	color: #666;
}

#errorMsg {
	width: 100%;
	text-align: center;
	font-size: 24px;

	position: absolute;
	top: 100px;
	left: 0;
}

#copyright a {
	color: #666;
}

#music {
	display: none;
}

a {
	text-decoration: none;
}
